<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://www.gstatic.com https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/media.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="stylesheet" href="../assets/css/tabela-ajax.css">
    <link rel="stylesheet" href="../assets/css/relatorios.css">
    <link rel="stylesheet" href="../assets/css/darkmode.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
      
      <!-- Menu lateral -->
      <aside class="sidebar">
        <div class="logo-section">
            <img src="../assets/images/teste1.png" alt="Logo PróFuturo" class="logo-image">
            <h2 class="logo">PróFuturo</h2>
        </div>
        
        <div class="itens">
            <a href="./userPage.html" class="item"><img src="../assets/images/house-solid-full.svg"></img> Início</a>
            <a href="./perfil.html" class="item"><img src="../assets/images/user-solid-full.svg"></img> Perfil</a>
            <a href="./usuarios.html" class="item ti-only"><img src="../assets/images/user-gear-solid-full.svg"></img> Usuários</a>
            <a href="./cursos.html" class="item"><img src="../assets/images/book-solid-full.svg"></img> Cursos</a>
            <a href="./relatorios.html" class="item"><img src="../assets/images/chart-bar-solid-full.svg"></img> Relatórios</a>
            <div class="item theme-switcher">
              <img src="../assets/images/moon-solid-full.svg"></img>
              <span>Dark Mode</span>
              <label class="switch">
                <input type="checkbox" id="darkModeToggle">
                <span class="slider round"></span>
              </label>
            </div>
            <button class="logout-button">
              <img src="../assets/images/right-from-bracket-solid-full.svg"></img>
              <span>Sair</span>
            </button>
        </div>
      </aside>
        <main class="main">
            <header class="header">
            <h2>Relatórios</h2>
            </header>
    
            <!-- Seção de relatórios -->
            <section class="reports-section">
    
                <div class="report-options">
                    <button id="btnReportDetailedEnrollments" data-report-type="detailedEnrollments">Matrículas Detalhadas</button>
                    <button id="btnReportCourseAverages" data-report-type="courseAverages">Média de Cursos</button>
                    <button id="btnReportTotalStudents" data-report-type="totalStudents">Total de Alunos por Curso</button>

                    <button id="btnReportStudentsPerProfessor" data-report-type="studentsPerProfessor">Alunos por Professor</button>
                </div>
    
                <div id="report-actions" style="display: none;">
                    <button id="btnDownloadReport" class="download-button">
                        <i class="fa-solid fa-download"></i> Baixar Relatório
                    </button>
                </div>
                <div id="ajax-table-container">
                </div>
    
            </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/relatorios.js"></script>
</body>
</html>