<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline';">
    <title>Acesso Indisponível</title>
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/unavailable.css">
</head>
<body>

    <div id="particles-container"></div>

    <div class="container">
        <h1 class="unavailable-text">INDISPONÍVEL NO MOMENTO</h1>
        <p class="sub-text">Acesso restrito temporariamente para o perfil de Aluno.</p>
        
        <button id="btn-logout" class="logout-btn">Sair da Conta</button>
    </div>

    <script src="../js/api.js"></script>
    <script src="../js/unavailable.js"></script>
</body>
</html>