*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppinsregular', sans-serif;
}

body {
  background: #f5f6fa;
  color: #333;
  font-family: 'poppinsregular', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* Área principal */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    margin-bottom: 20px;
}

.section-title{
    margin-top: 40px;
    color: black;
}

/* Tabela de relatórios */

/* Estilos para a seção principal */
.report-options {
    margin-bottom: 20px;
}

.report-options button {
    background: rgb(255, 71, 20);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}

.report-options button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* estilos do ajax */
#report-table-container h2 {
    margin-bottom: 15px;
    color: #333;
}

#report-table-container table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 10px;
}

#report-table-container th,
#report-table-container td {
    border: 1px solid #ddd; 
    padding: 10px;         
    text-align: left;     
}

#report-table-container thead {
    background-color: orange; /* cor de fundo do cabeçalho */
    color: #333;
    font-weight: bold;
}

#report-table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* cor alternada (zebrado) */
}

#report-table-container tbody tr:hover {
    background-color: #f0f0f0; 
}